<div class="container">
	<div>
		<h1><%= @question.title %></h1>
		<div id="like">Likes: <%= total_votes(@question) %></div>
		<p>Author name: <%= @user.name %></p>
	</div>

	<div class="content">
		<p><%= @question.content %></p>
	</div>

	<div class="answers">
		<h3>Answers: </h3>
		<% @question.answers.each do |answer| %>
			<div class="answer">
				<div class="score">
				  <form class="inline" action="/votes/<%= answer.id %>" method="post">
				    <button type="submit" name="vote" value="upvote" class="upvote-button"></button>
				    <button type="submit" name="vote" value="downvote" class="downvote-button"></button>
				  </form>
					<p>Number of votes: <%= total_votes(answer) %> <%= answer.content %></p>
				</div>
			</div>
		<% end %>
	</div>

	<a id="answerFormLink" href="/answers/new">Answer this question</a>
	<a href="/">Back home</a>
</div>

<div class="container" id="answerFormDiv"></div>
