<div class="container">
	<div>
		<h1><%= total_votes(@question) %> <%= @question.title %></h1>
		<p><%= @user.name %></p>
	</div>

	<div class="content">
		<p><%= @question.content %></p>
	</div>

	<div class="answers">
		<% @question.answers.each do |answer| %>
			<div class="answer">
				<div class="score">
					<%= total_votes(answer) %>
				</div>
				<p><%= answer.content %></p>
			</div>
		<% end %>
	</div>

	<a href="/answers/new">Answer this question</a>

</div>
