<div class="container">
	<div>
		<h1><%= total_votes(@question) %> <%= @question.title %></h1>
		<p><%= @user.name %></p>
	</div>

	<div class="content">
		<p><%= @question.content %></p>
	</div>

	<div class="answers">
		<% @question.answers.each do |answer| %>
			<div class="answer">
				<div class="score">
				  <form class="inline" action="/votes/<%= answer.id %>" method="post">
				    <button type="submit" name="vote" value="upvote" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-arrow-up"></span></button>
				    <button type="submit" name="vote" value="downvote" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-down"></span></button>
				  </form>

				  <!--
glyphicon glyphicon-arrow-up
glyphicon glyphicon-arrow-down -->
					<p><%= total_votes(answer) %> <%= answer.content %></p>
				</div>
			</div>
		<% end %>
	</div>

	<a id="answerFormLink" href="/answers/new">Answer this question</a>
	<a href="/">Back home</a>
</div>

<div class="container" id="answerFormDiv"></div>
