<div id="nav">
  <ul class="tabs">
    <li><a href="#" class="tablinks">Profile</a></li>
    <li><a href="#" class="tablinks">Activity</a></li>
    <li><a href="/users/<%= @user.id %>/edit" class="tablinks">Edit Profile & Settings</a></li>
  </ul>
</div>
<h2><%= @user.name %></h2>
<a href="/users/<%= @user.id %>/edit">click here to edit</a>

<h3>Summary</h3>

<p><a href="#">Answers</a> (<%= @user.answers.count%>)</p>
<% @user.answers.first(5).each do |response| %>
  <p><a href="#"><%= answers.content %></a></p>
  <% end %>

<p><a href="#">Questions</a> (<%= @user.questions.count %>)</p>
<% @user.questions.first(5).each do |question| %>
  <p><a href="#"><%= question.title %></a></p>
  <% end %>

<p><a href="#">Responses</a> (<%= @user.responses.count %>)</p>
<% @user.responses.first(5).each do |response| %>
  <p><a href="#"><%= response.content %></a></p>
  <% end %>

<p>Votes Cast (<%= @user.votes.count %>)</p>

