<div>
  <h1>Stacktacular!</h1>

  <% if current_user %>
  <!-- make a users controller and view to handle this request -->
    <a href="/users/<%= current_user.id%>"><%= current_user.name %></a>'s profile
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out">
    </form>
  <% end %>

  <div class="container" id="post_container">
    <h2>Recent Posts</h2>
    <% @questions.each do |question| %>
      <div class="questions">
        <div class="votes">
        <!-- may need to change this and the title to question.votes -->
          <%= total_votes(question) %>
        </div>
        <!-- Chris link the href below to your new question page. -->
        <a href="/questions/<%= question.id %>"><%= question.title %></a>
      </div>
      <br>
    <% end %>
  </div>

<!-- LOGIN SECTION -->
  <% if !current_user %>
    <div class="container">
      <h2>Login!</h2>
      <form action="/sessions" method="post">
        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="submit">
      </form>
      <br>

      <p id="registrationlink">Not registered yet? Click <a id="register" href="/users/new">here</a> to register.</p>
    </div>

    <div class="container" id="regform"></div>


  <% end %>

  <% if current_user %>
    <a class="questionForm" href="/questions/new">Post a question</a>
    <div class="questionFormDiv container"></div>
  <% end %>

</div>

